<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.encore.basic.repository.MybatisMemberRepository">

    <select id="findAll" resultType="com.encore.basic.domain.Member">
        select * from member;
    </select>

    <select id="findById" resultType="com.encore.basic.domain.Member" parameterType="Integer">
        select * from member where id = #{id};
    </select>

<!--    <insert id="save">-->
<!--        insert into member(created_time, name, email, password) values(#{create_time}, #{name}, #{email}, #{password});-->
<!--    </insert>-->

    <select id="save" resultType="com.encore.basic.domain.Member">
        insert into member(create_time, name, email, password) values(#{created_time}, #{name}, #{email}, #{password});
    </select>
</mapper>

<!-- mybatis는 ddl수동 -> dml수동 -> 객체조립 생성 자동화 : 컬럼명과 변수명이 동일해야 호환 가능-->